#!/usr/bin/bash
{{ if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -Sy vivid zoxide direnv starship fzf fd bat
{{ end -}}

[ -L "$HOME/.local/bin/lf" ] || ln -rs "$HOME/.config/lf/bin/lf-ueberzug.sh" "$HOME/.local/bin/lf"
[ -L "$HOME/.local/bin/Scripts" ] || ln -rs "$HOME/Scripts" "$HOME/.local/bin/Scripts"
