#!/usr/bin/bash
{{ if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -Sy vivid zoxide direnv starship
{{ else if eq .chezmoi.osRelease.id "raspbian" -}}
sudo apt update
sudo apt install direnv zoxide exa fd-find fzf
{{ end -}}
